#login
{
width : 300px;
position: absolute;
left: 1200px;
top: 60px;
background-color : grey;
border : 3px solid black;
border  : radius;
color : white;
}

body
{
background-image("image/sunset.jpg")
}