body
{
	background-color : #E2BC74;
}

#baniere
{
	text-align: center;
}

#modal 
{
	text-align: center;
	margin: auto;
	margin-top: 5px;
	background-color: white;
	width: 60%;
	height: 320px;
}

#myForm
{
	text-align: center;
	display: inline-block;
}

#formulaire
{
	text-align: right;
	margin-top: 10%;
}

#inscript
{
	text-align: center;
}

td
{
	padding:  5px;
}
